@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans:wght@300&display=swap");
* {
    box-sizing: border-box;
}
/*General styling for structure*/


body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow-x: hidden;
    background-color: #272727;
    color: white;
    
}


header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Merriweather", serif;
    height: 100vh;
    width: 100vw;
    /*padding: 50px;*/
}

header h2 {
    font-weight: 400;
    padding-top: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    }



.scroll-container {
    height: 100vh;
    min-height: 450px;
    padding: 200px;
    padding-right: 800px;
    display: flex;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
.scroll-container.c1 {
    justify-content: center;
    font-size: 20px;
    align-items: center;
    background-image: url("photos/birdsview.jpg");

}

.scroll-container.c2 {
    justify-content: right;
    font-size: 30px;
    color: darkgoldenrod;
    align-items: right;
}


.scroll-container.c4 {
    justify-content: right;
    align-items: center;
    font-size: 20px;
    background-image: url("photos/final1.jpeg");

}

.scroll-container.c5 {
    justify-content: right;
    align-items: center;
    font-size: 20px;
    background-image: url("photos/final2.jpeg");
}

.scroll-container.c6 {
    justify-content: right;
    align-items: center;
    font-size: 20px;
    background-image: url("photos/5.png");
}


.scroll-container.c7 {
    justify-content: right;
    align-items: center;
    font-size: 20px;
    background-image: url("photos/cover.jpeg");
}


.highlightme  { 
    background-color: rgba(31, 29, 29, 0.5);   
}


.scroll-element {
    height: 100px;
    opacity: 0;
    transition: opacity 500ms;
}
.scroll-element.fade-in-bottom {
    background: none;
    width: auto;
    height: auto;
}

.container {
    padding: 0px;
    width: 200vw;
}


/************************************************
* CSS that controls animations / transitions 
* when "scrolled" class is added by the JS
* (which happens when the container is in view).
************************************************/


.scroll-element.scrolled {
    opacity: 1;
}

.scrolled.fade-in {
    animation: fade-in 1s ease-in-out both;
}

.scrolled.fade-in-bottom {
    animation: fade-in-bottom 1s ease-in-out both;
}






/*
.crossfade > section {
    animation: imageAnimation 3s linear infinite;
    backface-visibility: hidden;
    background-position: center center;
    height: 100%;
    left: 0;
   
    top: 0;
    width: 100%;
  }
  .crossfade {
    height: 100vh;
  }
  @keyframes imageAnimation {
    0% {
      opacity:1
    }
    75% {
      opacity:0.9;
    }

    80% {
        opacity: 0.5
    }

    90% {
        opacity: 0.75

    }
    
    92% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  .crossfade div:nth-of-type(1) {
    background-image: url(photos/birdsview.jpg);
    animation-delay: 6s;
  }
  .crossfade div:nth-of-type(2) {
    background-image: url(photos/cover.jpeg);
    animation-delay: 4s;
  } */


/* ----------------------------------------------
 * Generated by Animista on 2021-2-11 23:32:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */




 @keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(250px);
        transform: translateY(250px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}



@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}




/*

@keyframes fade-in-right {
    0% {
        -webkit-transform: translateX(250px);
        transform: translateX(250px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
} 

.scrolled.fade-in-right {
    animation: fade-in-bottom 1s ease-in-out both;
}


.scroll-element.fade-in-right{
    background: none;
    width: auto;
    height: auto;
}